::-webkit-scrollbar {
    width: .5rem;
    height: .5rem
}

::-webkit-scrollbar-thumb {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    border-color: transparent;
    background-color: rgba(255,255,255,.1);
    z-index: 40;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background-color: rgba(255,255,255,.15)
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-grow: 1;
}

hr {
  border-color: rgb(36, 36, 36);
}

.border-sandbox {
  border-color:rgb(36, 36, 36) !important;
}
.border-sandbox:focus, .border-sandbox:active {
  box-shadow: 0 0 0 1px rgb(36, 36, 36) !important;
}

.bg-sandbox {
  background-color: rgb(21, 21, 21);
}

.btn-sandbox {
  color: rgb(153, 153, 153);
}

.d-grid {
  display: grid;
}

.dropdown-toggle-transparent:focus {
  box-shadow: 0 0 0 1px rgb(36, 36, 36);
}

.dropdown-toggle-transparent::after {
  content: unset;
}

.dropdown-menu {
  background-color: rgb(21, 21, 21);
  border: 1px solid rgb(36, 36, 36);
  padding: unset;
  color: var(--white);
}

.dropdown-item, .dropdown-item:hover, .dropdown-item:focus {
  color: var(--white);
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgb(36, 36, 36);
}

.sandbox-thumbnail {
  height: 140px;
}
.sandbox-title .btn {
  width: 26px;
  height: 26px;
}
.sandbox-stat {
  color: rgb(153, 153, 153);
  overflow: hidden;
  white-space: nowrap;
}
.sandbox-stat span .stat-item:not(:last-child)::after {
  content: "•";
  margin-left: 0.5rem;
}
