::-webkit-scrollbar {
  width: .5rem;
  height: .5rem
}

::-webkit-scrollbar-thumb {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-color: transparent;
  background-color: rgba(255,255,255,.1);
  z-index: 40;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  background-color: rgba(255,255,255,.15)
}

.firebase-emulator-warning {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(21, 21, 21);
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-grow: 1;
}

nav.header.navbar {
  height: 48px;
  border-bottom: 1px solid rgb(36, 36, 36);
}

.btn.dropdown-toggle svg {
  color: var(--white);
}

.dropdown-menu .dropdown-divider {
  border-color: rgb(36, 36, 36);
}

.dropdown-menu .dropdown-item, .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  color: var(--white);
}

.dropdown-menu.show:empty {
  display: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: unset;
}
