hr {
  border-color: rgb(36, 36, 36);
}

.border-sandbox {
  border-color:rgb(36, 36, 36) !important;
}

.border-sandbox:focus, .border-sandbox:active {
  box-shadow: 0 0 0 1px rgb(36, 36, 36) !important;
}

.bg-sandbox {
  background-color: rgb(17, 21, 24);
}

.btn-sandbox {
  color: rgb(153, 153, 153);
}

.d-grid {
  display: grid;
}

.dropdown-toggle-transparent:focus {
  box-shadow: 0 0 0 1px rgb(36, 36, 36);
}

.dropdown-toggle-transparent::after {
  content: unset;
}

.dropdown-menu {
  background-color: rgb(21, 21, 21);
  border: 1px solid rgb(36, 36, 36);
  padding: unset;
  color: var(--white);
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgb(36, 36, 36);
}

.sandbox-thumbnail {
  height: 140px;
}
.sandbox-title .btn {
  width: 26px;
  height: 26px;
}
.sandbox-stat {
  color: rgb(153, 153, 153);
  overflow: hidden;
  white-space: nowrap;
}
.sandbox-stat span .stat-item:not(:last-child)::after {
  content: "•";
  margin-left: 0.5rem;
}
.sandbox-template-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgb(53, 53, 53);
  width: 16px;
  height: 16px;
  border: 3px solid rgb(52, 52, 52);
  border-radius: 2px;
  box-sizing: content-box;
}
.sandbox-template-icon svg {
  vertical-align: top;
}

.nav-link a {
  text-decoration: none;
}
