svg.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

nav.header.navbar {
  height: 48px;
  background-color: rgb(21, 21, 21) !important;
  border-bottom: 1px solid rgb(36, 36, 36);
}

.header .navbar-brand {
  padding: 0;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.navbar-brand {
  align-self: baseline;
  padding: unset;
}
