.sidebar {
  display: flex;
  min-width: 240px;
  /*background-color: var(--light);*/
  background-color: rgb(21, 21, 21);
  color: rgb(153, 153, 153);
  border-right: 1px solid rgb(36, 36, 36);
  height: calc(100vh - 48px);
  overflow: auto;
}

.sidebar a {
  color: rgb(153, 153, 153);
}

hr {
  margin: 0;
}
