main.editor-content {
  display: flex;
  flex-grow: 1;
  /*background-color: var(--light);*/
  background-color: rgb(45, 42, 46);
  /*color: var(--white);*/
  /* color: rgb(36, 36, 36); */
  height: calc(100vh - 48px);
}

.app {
  background-color: #444344;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sp-wrapper {
  width: 100%;
  display: flex;
}

nav.navbar.header.sp-header {
  background-color: rgb(45, 42, 46) !important;
}

.sp-layout {
  border: none;
  border-radius: unset;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  /* height: calc(100vh - 48px); */
}

.sp-stack-file-explorer {
  width: fit-content;
  min-width: 100%;
}

.sp-stack-file-explorer .sp-button {
  width: auto;
  min-width: 100%;
}

.sp-button:hover:not(:disabled) {
  background-color: #393739; /* mid blend of --sp-colors-bg-active and --sp-colors-bg-default*/
}
.sp-stack-file-explorer .sp-button[data-active=true] {
  background-color: var(--sp-colors-bg-active);
  color: var(--sp-colors-fg-active);
}

.sp-layout .sp-file-explorer div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sp-stack {
  overflow: auto;
}

.dragging .sp-tab-button {
  color: var(--sp-colors-fg-active);
  background: var(--sp-colors-bg-active);
}

.sp-cm {
  padding-bottom: unset;
}

.sp-pane {
  display: flex;
  flex: auto;
}

.gutter {
  background-clip: content-box;
  z-index: 1;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  padding: 0px 6px 0px 5px;
  margin: 0px -6px 0px -5px;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  padding: 5px 0px 5px 0px;
  margin: -5px 0px -5px 0px ;
}

.sp-pane.sp-pane-vertical {
  flex-direction: column;
}
.sp-pane.sp-pane-vertical > .sp-stack:not(:first-child) {
  margin-top: unset !important;
}
.sp-pane:not(:first-child) > .sp-stack, .sp-pane:first-child > .sp-stack:not(:first-child) {
  border-left: 1px solid var(--sp-colors-fg-inactive);
  border-top: 1px solid var(--sp-colors-fg-inactive);
  /* margin-left: -1px; */
  margin-top: -1px;
  /* position: relative; */
}

::-webkit-scrollbar-corner {
  background-color: var(--sp-colors-bg-default);
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-track {
  background-color: transparent;
  color: transparent;
}
.sp-tabs {
  display: flex;
}
.sp-tabs-scrollable-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.sp-tabs-scrollable-container:hover {
  overflow-x: overlay;
}
.sp-tabs-scrollable-container:hover::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}
.sp-tab-button {
  min-width: 130px;
  position: relative;
  padding: 0 var(--sp-space-3);
}
.sp-tab-button[data-active=false]:hover {
  color: var(--sp-colors-fg-default);
  background: unset;
}
.sp-tab-button[data-active=true] {
  background: var(--sp-colors-bg-active);
  /* border-width: 2px; */
}
.sp-tab-close-button:hover > svg {
  stroke: var(--sp-colors-fg-active);
}
.sp-tab-divider {
  position: absolute;
  height: 60%;
  left: 0px;
  width: 1px;
  background: var(--sp-colors-bg-active);
}
.sp-tab-button[data-active=true] .sp-tab-divider
, .sp-tab-draggable:first-child .sp-tab-divider
, .sp-tab-draggable[data-active=true]:not(.dragging) + .sp-tab-draggable .sp-tab-divider
{
  display: none;
}

.sp-code-editor {
  display: flex;
}
.sp-code-editor > .ace_editor {
  width: 100% !important;
  height: 100% !important;
}
.sp-code-editor .sp-code-editor-content {
  flex-grow: 1;
  width: 100%;
}

.dropdown-tabs {
  border-left: 1px solid var(--sp-colors-fg-inactive);
}
.dropdown-tabs .dropdown-toggle {
  box-shadow: none;
  color: var(--sp-colors-fg-default);
}
.dropdown-tabs .dropdown-menu {
  border: 1px solid var(--sp-colors-fg-inactive);
  /* background-color: var(--sp-colors-bg-input); */
  background-color: rgba(40, 40, 40, 0.98);
}
.dropdown-tabs .dropdown-item:hover, .dropdown-tabs .dropdown-item:focus {
  background-color: var(--sp-colors-bg-active);
}

.sp-tabs-scrollable-container {
  padding: unset;
}

.tab-scroller button {
  color: var(--sp-colors-fg-default);
}

.caret::after {
  display: inline-block;
  content: "";
  margin-left: 0.255em;
}
.caret-left::after {
  display: none;
}
.caret-left::before {
  display: inline-block;
  content: "";
  margin-right: 0.255em;

  border-top: 0.3em solid transparent;
  border-right: 0.5em solid;
  border-bottom: 0.3em solid transparent;
}
.caret-right::after {
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.5em solid;
}

.sp-stack-file-explorer .sp-button {
  font-size: 15px;
  border-radius: unset;
}
.sp-stack-file-explorer svg {
  width: 15px;
  height: 15px;
}
.sp-button svg {
  fill: var(--sp-colors-fg-default);
  overflow: visible;
}

.sp-button .sp-actions {
  margin-left: auto;
  opacity: 0;
}

.sp-button:hover .sp-actions {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
.sp-button .sp-actions svg {
  cursor: pointer;
}
.sp-button .sp-actions svg:hover {
  fill: var(--sp-colors-fg-active);
}
.sp-button .sp-actions svg:not(:first-child) {
  margin-left: 0.25rem;
}

.sp-file-menu {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.sp-file-menu .input-group {
  flex-wrap: nowrap;
  height: 100%;
}
.sp-file-menu .input-group .input-group-prepend .input-group-text {
  background-color: var(--sp-colors-bg-default);
  color: var(--sp-colors-fg-default);
  /* border: 1px solid var(--sp-colors-fg-inactive); */
  border: none;
}
.sp-file-menu .form-control {
  height: 100%;
  margin-left: unset;
  resize: none;
  overflow: hidden;
  transition: none;
}
.sp-file-menu .form-control:focus {
  box-shadow: unset;
  background-color: var(--sp-colors-bg-input);
}
