main.editor-content {
  display: flex;
  flex-grow: 1;
  /*background-color: var(--light);*/
  background-color: rgb(21, 21, 21);
  /*color: var(--white);*/
  /* color: rgb(36, 36, 36); */
}

.app {
  background-color: #444344;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sp-wrapper {
  width: 100%;
  display: flex;
}

.sp-layout {
  border: none;
  border-radius: unset;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  max-height: calc(100vh - 48px);
}

.sp-stack-file-explorer {
  height: 100%;
  overflow: auto;
}

.sp-stack-file-explorer .sp-button {
  width: 100%;
}

.sp-layout .sp-file-explorer div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sp-stack {
  overflow: auto;
}

.sp-tabs-scrollable-container {
  overflow: hidden;
}

.dragging .sp-tab-button {
  color: var(--sp-colors-fg-active);
  background: var(--sp-colors-bg-active);
}

.sp-cm {
  padding-bottom: unset;
}

.sp-pane {
  display: flex;
  flex: auto;
}

.gutter {
  background-clip: content-box;
  z-index: 1;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  padding: 0px 6px 0px 5px;
  margin: 0px -6px 0px -5px;
}

.sp-pane:not(:first-child) > .sp-stack, .sp-pane:first-child > .sp-stack:not(:first-child) {
  border-left: 1px solid var(--sp-colors-fg-inactive);
  border-top: 1px solid var(--sp-colors-fg-inactive);
  /* margin-left: -1px; */
  margin-top: -1px;
  /* position: relative; */
}
